<% content_for :title do %>Tommys Environment<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget-list" data-id="wp_stats_nil-food.de" data-view="WordpressStats" data-unordered="true" data-title="Nil" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget-list" data-id="wp_stats_amnesty-polizei.de" data-view="WordpressStats" data-unordered="true" data-title="Amnesty" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget-list" data-id="wp_stats_thomaskuhnert.com" data-view="WordpressStats" data-unordered="true" data-title="Thomaskuhnert" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wp_posts_views" data-view="List" data-unordered="true" data-title="site visits today" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li> -->

    <!-- <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="heroku-prod" data-view="Heroku" data-title="Heroku Production"></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
      <i class="fa fa-check icon-background" aria-hidden="true"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
      <i class="fa fa-cloud icon-background" aria-hidden="true"></i>

    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Clock" data-title="Clock" data-text="" data-moreinfo=""></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wrangelfilm" data-view="GithubStats" style="background-color:#999"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dashboard" data-view="GithubStats" style="background-color:#555"></div>
    </li>
    <!--
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #todayilearned"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="commits_wrangelfilm" data-view="Graph" data-title="Wrangelfilm Commmits" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="commits_dashboard" data-view="Graph" data-title="Dashboard Commits" style="background-color:#ff9618"></div>
    </li>

  </ul>
</div>
